<div class="content">
  <mat-toolbar class="hero-filters">
    <button mat-button (click)="setUniverse('')">All</button> |  <button mat-button (click)="setUniverse('Marvel')">Marvel</button> | <button mat-button (click)="setUniverse('DC')">DC</button> | <button mat-button (click)="setUniverse('JavaScript')">JavaScript</button>
  </mat-toolbar>
  <mat-grid-list cols="4" [gutterSize]="'20px'" rowHeight="1:1.5" >
    <mat-grid-tile *ngFor="let hero of (superheroes | universe: currentUniverse)" [@openClose]="hero.isOpen ? 'open' : 'closed'" class="hero-item">
      <mat-card >
        <mat-card-content>
          <div>
            <a href="" [routerLink]="['/superheroes/', hero.id]">
              <img [src]="hero.avatar" alt={{hero.name}} title={{hero.name}} class="avatar" />
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="content">
    <button  mat-button routerLink="/add-superhero">Add a hero</button>
  </div>
</div>
