/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  padding: 0;
  margin: 0;
}
.content {
  padding: 30px 0px 0px 0px;
}
.clearfix {
  clear: both;
}
.full-width {
  width: 100%;
}
.container {
  max-width: 980px;
  margin: auto;
}
